.vs/*
ProcessStub/bin/*
ProcessStub/obj/*
ProcessCorrupt/bin/*
ProcessCorrupt/obj/*
packages/*
.vscode
/LinuxSideProgramCPlusPlus/obj/x64/Release
/LinuxSideProgramCPlusPlus/bin/x64/Release
/LinuxSideProgram/obj
/UDPStubWindowsClient/bin/Debug
/UDPStubWindowsClient
